html {
  scroll-behavior: smooth;
}

.page {
  height: 100vh;
  background-color: #ddd;
  display: flex;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  border-bottom: solid 1px black;
}

.page h4 {
  font-size: 4rem;
  margin: 30px 20px 0 350px;
}

#bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: black;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
}

#bar a {
  color: white;
  display: flex;
  background-color: black;
  width: 180px;
  padding: 5px;
  margin: 50px 0;
  position: relative;
}

#menu a {
  font-size: 2.2rem;
  z-index: 1;
}

#menu a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%; /* 초기 너비 0% */
  height: 100%;
  background-color: rgb(233, 207, 34);
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

#menu a:hover::before {
  width: 100%; /* hover 시 전체 너비 */
}

.title {
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-family: "Poor Story", serif;
  font-style: normal;
  width: 100%;
  justify-content: center;
  margin: 0 20px 0 300px;
}

#profile img {
  width: 200px;
  border-radius: 20px;
  margin: 50px 0px 10px 350px;
}

#profileInfo {
  margin: 50px 0 0 350px;
  width: 250px;
}

#profileInfo > :first-child {
  font-family: "Poor Story", serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

#profile p {
  margin-top: 15px;
}

#profileDetail {
  font-family: "Poor Story", serif;
  margin: 150px 0 0 100px;
  display: flex;
  flex-direction: column;
  width: 750px;
}

#profileDetail div {
  margin-bottom: 80px;
}

#profileDetail h2 {
  padding-bottom: 18px;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: solid 1px black;
}

#profileDetail p {
  display: flex;
  justify-content: space-between;
}

#profileDetail h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 0;
}

#project1 {
  display: flex;
  flex-direction: column;
}

#project1 div {
  font-family: "Poor Story", serif;
  margin-right: 30px;
}

#project1 p {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 20px;
  margin-top: 20px;
}

#project1 span {
  padding: 10px 20px 0 10px;
}

#project1 li {
  padding-left: 20px;
  margin-top: 10px;
}

#project1Detail {
  display: flex;
  margin-left: 350px;
}

#project1Img img {
  width: 800px;
  margin: 30px 350px;
}

#project2 {
  display: flex;
  flex-direction: column;
}

#project2 div {
  font-family: "Poor Story", serif;
  margin-right: 30px;
}

#project2 p {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 20px;
  margin-top: 20px;
}

#project2 span {
  padding: 10px 20px 0 3px;
}

#project2 li {
  padding-left: 20px;
  margin-top: 10px;
}

#project2 li span {
  display: flex;
  padding-left: 20px;
}

#project2Detail {
  display: flex;
  margin-left: 350px;
}

#project2Img img {
  width: 800px;
  margin: 30px 350px;
}
